<ion-grid>
  <ion-row>
    <ion-col size="12">
      <form class="ion-padding">
        <ion-item>
          <ion-label position="floating">E-Mail </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password </ion-label>
          <ion-input required type="password"></ion-input>
        </ion-item>
        <ion-button
          block
          color="primary"
          type="submit"
          class=""
          class="ion-margin-vertical"
        >
          Login
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
