<ion-grid>
  <ion-row>
    <ion-col size-xs="12">
      <form class="ion-padding" >
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input required type="text"  name="username"  [(ngModel)]="newUser.username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-Mail </ion-label>
          <ion-input required type="text" name="email" [(ngModel)]="newUser.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password </ion-label>
          <ion-input
            required
            type="password"
            name="password"
            [(ngModel)]="newUser.password"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password </ion-label>
          <ion-input
            required
            type="password"
            name="confirmPassword"
            [(ngModel)]="newUser.confirmPassword"
          ></ion-input>
        </ion-item>

        <ion-button
          color="primary"
          class="ion-margin-vertical"
          (click)="onSubmit()"
        >
          Sign Up
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
