<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Enter Word" />
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.position }}</td>
  </ng-container>

  <ng-container matColumnDef="english">
    <th mat-header-cell *matHeaderCellDef>English</th>
    <td mat-cell *matCellDef="let element">{{ element.english }}</td>
  </ng-container>

  <ng-container matColumnDef="native">
    <th mat-header-cell *matHeaderCellDef>Native</th>
    <td mat-cell *matCellDef="let element">{{ element.native }}</td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>Update</th>
    <td mat-cell *matCellDef="let element">
      <ion-icon
        name="create-outline"
        (click)="update(element.position)"
      ></ion-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <ion-icon
        name="trash-outline"
        (click)="remove(element.position)"
      ></ion-icon>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[7]" showFirstLastButtons></mat-paginator>
