<ion-card>
  <ion-item>
    <ion-label>English</ion-label>
  </ion-item>

  <ion-card-content>
    <ul>
      <li>
        This is content, without any paragraph or header tags, within an
        ion-card-content element.
      </li>
      <li>
        This is content, without any paragraph or header tags, within an
        ion-card-content element.
      </li>
      <li>
        This is content, without any paragraph or header tags, within an
        ion-card-content element.
      </li>
    </ul>
  </ion-card-content>
  <ion-item>
    <ion-label>Native</ion-label>
  </ion-item>

  <ion-card-content>
    <ul>
      <li>
        This is content, without any paragraph or header tags, within an
        ion-card-content element.
      </li>
      <li>
        This is content, without any paragraph or header tags, within an
        ion-card-content element.
      </li>
    </ul>
  </ion-card-content>
</ion-card>
