<form class="ion-padding">
  <ion-item>
    <ion-input
      required
      type="text"
      name="english"
      placeholder="English"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea
      rows="9"
      cols="20"
      placeholder="English Meaning"
      name="englishMeaning"
    ></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-input
      required
      type="text"
      name="native"
      placeholder="Native"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea
      required
      rows="9"
      cols="20"
      placeholder="Native Meaning"
      name="nativeMeaning"
    ></ion-textarea>
  </ion-item>
  <ion-button
    block
    color="success"
    type="submit"
    class=""
    class="ion-margin-vertical"
    (click)="addNewWordCard()"
  >
    Add New Word Card
  </ion-button>
</form>
